.App {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .7)), url('./img/black_forest_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}